    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Trocar navegação</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">iBuy</a> 
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="produtos.html">Lista de Produtos</a></li>
            <li><a href="pedidos.html">Lista de Pedidos</a></li> 
            <li><a href="#contatoModal" data-toggle="modal" data-target="#contatoModal">Contato</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="carrinho.html"><span class="glyphicon glyphicon-shopping-cart"></span> Carrinho</a></li>
          </ul>
        </div>
      </div>
    </nav> 
   
 	<div id="contatoModal" class="modal fade" role="dialog"> 
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Contato</h4>
	      </div>
	      <div class="modal-body">
	        <p>Desenvolvido por Leonardo Seiji De Vitro</p>
	        <a href="mailto:leonardo.vitro@gmail.com">leonardo.vitro@gmail.com</a>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	
	  </div>
	</div>