<html ng-app='mock_ibuy'>
 	<head>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
	    <script src="../js/angular/angular-locale_pt-br.js"></script>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
				
	    <link href="../css/default.css" rel="stylesheet">
		<script src="../js/app.js"></script> 
		<script src="../js/controllers/carrinho.js"></script>
 
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>iBuy</title>
	</head>
  	<div ng-include="'cabecalho.html'"></div>
	<body ng-controller="carrinho"> 
		
		<div class='jumbotron'> 
			<h4>Carrinho</h4>
			<table class="table table-striped">
				<tr> 
					<th>Produto</th>
					<th>Quantidade</th>
					<th>Quantidade disponível</th> 
					<th>Preço</th>
					<th>Exclusão</th>
				</tr>
				<tr ng-repeat="produto in produtos | orderBy:produto.nome"> 
					<td>{{produto.nome}}</td>
					<td class="text-center"><button class='btn' ng-click="diminuirQuantidade(produto)">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</button>
						{{produto.quantidadeRequerida}}
						<button class='btn' ng-click="aumentarQuantidade(produto)">
							<span class="glyphicon glyphicon-chevron-right"></span> 
						</button>
					</td>
					<td style='text-align: right;'>{{produto.quantidade | number:2}}</td>
					<td style='text-align: right;'>{{(produto.quantidadeRequerida * produto.preco) | currency}}</td>
					<td class="text-center">
						<a class='btn btn-danger' ng-click="removerProduto(produto)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>			 
			</table>
			<hr/>
			<div class="panel panel-default">
			  <div class="panel-heading">Total do Pedido</div>
			  <div class="panel-body">
			    {{ getTotalProdutos(produtos) | currency }}
			  </div>
			</div>
			<hr/>
			<button class='btn btn-success' ng-disabled="produtos.length == 0" ng-click="fecharPedido(produtos)">Fechar pedido</button>
		</div>
		<div ng-include="'rodape.html'"></div>   		
	</body>
</html>